---
import Welcome from '../components/index/Welcome.astro';
import Identification from '../components/index/Identification.astro';
import Explainer from '../components/index/Explainer.astro';
import Offers from '../components/index/Offers.astro';
import Profile from '../components/index/Profile.astro';
import Tools from '../components/index/Tools.astro';
import SuccessStory from '../components/index/SuccessStory.astro';
import Blog from '../components/index/Blog.astro';
import Contact from '../components/index/Contact.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- <div class="bg-blob blob-1"></div> -->
  <!-- <div class="bg-blob blob-2"></div> -->
  <!-- <div class="bg-blob blob-3"></div> -->
  <!-- <div class="bg-blob blob-4"></div> -->
  <!-- <div class="bg-blob blob-5"></div> -->
  <Welcome />
  <Identification />
  <Explainer />
  <Offers />
  <Profile />
  <Tools />
  <SuccessStory />
  <Blog />
  <Contact />
</Layout>

<style>
  :root {
    --blob-col-1: #F4E04D;
    --blob-col-2: #95BF74;
    --blob-col-3: #DDA77B;
    /* --blob-col-3: #669BBC; */
  }

  .bg-blob {
    position: absolute;
    --length: 600px;
    width: var(--length);
    height: var(--length);
    z-index: -1;
    filter: blur(500px);
  }

  .blob-1 {
    top: 0;
    right: 0;
    background-color: var(--blob-col-1);
  }

  .blob-2 {
    left: 0;
    top: 800px;
    background-color: var(--blob-col-2);
  }

  .blob-3 {
    top: 1400px;
    right: 0;
    background-color: var(--blob-col-3);
  }

  .blob-4 {
    top: 2400px;
    left: 0;
    background-color: var(--blob-col-1);
  }

  .blob-5 {
    top: 3800px;
    right: 0px;
    background-color: var(--bg-color-dark);
  }
</style>
