---
import Layout from "../layouts/Layout.astro";
import * as cgvContent from "../content/politique-confidentialite.md";
const headings = cgvContent.getHeadings();
const title = headings.slice(0, 1);
const h2Headings = headings.slice(1);
console.log(h2Headings);
console.log(title);
---

<Layout>
  <div class="container">
    <aside>
      <h2>Sommaire</h2>
      <ul>
        {h2Headings.map(heading => <li>{heading.text}</li>)}
      </ul>
    </aside>
    <article>
      <cgvContent.Content />
    </article>
  </div>
</Layout>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 65ch;
    gap: var(--space-m);
  }

  aside {
    position: sticky;
    top: 100px;
    height: fit-content;
    max-height: 70vh;
    overflow-y: scroll;
  }

  article {
    border-left: 1px solid var(--bg-color-light);
    padding-left: var(--space-s);
  }
</style>

