---
import '../styles/global.css';
import { links } from './links.js'
import logo from '../assets/logos/logo-dark.png';
import { Image } from 'astro:assets';
const calendlyLink = 'https://calendly.com/seheno-theplannerist/appel-decouverte/';
---

<footer>
  <div class="container footer">
    <div class="menu-wrapper">
      <div class="menu">
        <Image src={logo} alt="" class="logo" />
        <p>Accompagnement en stratégie et pilotage d'entreprise pour solopreneurs et petites entreprises : optimisation, transformation et croissance. Clarifie tes priorités, optimise tes process, développe ton activité sereinement.
      </div>
      <div class="menu">
        <div class="menu-heading">Infos</div>
        <div class="infos submenu">
          <div class="menu-subheading">Office hours</div>
          <div>10H00 &ndash; 18H00 Lundi à Vendredi</div>
          <div style="font-style:italic">En visio et sur Paris, Boulogne-Billancourt &amp; 92</div>
        </div>
        <div class="contact submenu">
          <div class="menu-subheading">Contact</div>
          <a href={calendlyLink}>Prendre rendez-vous</a>
          <div class="socials">
            <a href="https://www.instagram.com/theplannerist/" target="_blank" rel="noopener noreferrer">Instagram</a>
            <div class="separator"></div>
            <a href="https://www.linkedin.com/in/seheno-ratefimandimby/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
          </div>
        </div>
      </div>
      <div class="menu">
        <div class="menu-heading">Menu</div>
        {links.map(link => <a href={link.url}>{link.name}</a>)}
      </div>
      <div class="menu">
        <div class="menu-heading">Légal</div>
        <a href="">CGV</a>
        <a href="">Mentions légales</a>
        <a href="">Politique de confidentialité</a>
      </div>
    </div>
    <div class="copyright">
      <div>Designed by <a href="https://www.yeauleaucollective.com" target="_blank" rel="noopener noreferrer">Yeauleau Collective</a></div>
      <div>Branding Photography by <a href="https://marlenejoeyphotos.pic-time.com" target="_blank" rel="noopener noreferrer">Irma Marlene Joey</a></div>
      <div>Copyright &copy; 2026 &mdash; The Plannerist.</div>
    </div>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-l);
  }

  .menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-xl);
    width: 100%;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    max-width: 20rem;
  }
  .logo {
    object-fit: contain;
    width: 100%;
  }

  .menu-heading {
    text-transform: uppercase;
    font-weight: 700;
    z-index: 1;
  }

  .menu-subheading {
    position: relative;
    text-transform: uppercase;
    width: fit-content;
    font-weight: 300;
    z-index: 1;
    margin-bottom: var(--space-2xs);
  }

  .menu-subheading::after {
    content: "";
    position: absolute;
    left: -2px;
    right: 20px;
    bottom: 0px;
    top: 13px;
    background-color: var(--bg-color-light);
    opacity: 0.35;
    z-index: -1;
  }

  .footer a {
    color: var(--bg-color-dark);
  }

  .footer a:hover {
    color: var(--bg-color-light);
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .copyright a {
    color: var(--text);
  }

  @media (min-width: 1000px) {
  .menu-wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--space-xl);
    width: 100%;
  }

    .menu:first-of-type {
      margin-right: auto;
    }


    .submenu {
      margin-bottom: var(--space-m);
    }

    .socials {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--space-xs);
      height: fit-content;
      margin-top: var(--space-s);
      position: relative;
    }

    .separator {
      width: 1px;
      height: 1rem;
      background-color: var(--text);
    }
  }
</style>
