---
import '../styles/global.css';
import { Image } from 'astro:assets';
import collaborationPhoto from '../assets/images/collaboration.png';
---

<section id="identification">
  <div class="container">
    <article>
      <h2>Pour les PME en croissance qui ne veulent plus subir</h2>
      <p>
        <strong>
          Tu es dirigeant.e de PME et tes équipes dépendent encore de toi.
        </strong> Tu jongles entre commercial, administratif, RH et marketing dans la même journée et pourtant il y a d'<strong>autres projets qui méritent ton attention</strong> et qui sont <strong>clés pour le développement futur de ta boîte</strong>.
      </p>
      <p>Ton entreprise dépend à 100% de toi. Si tu t'arrêtes, la boîte ne tourne plus et ta trésorerie en pâtit. Du coup, tu grignotes ton temps perso et de repos pour pouvoir "assurer" car "il n'y a pas le choix". À ce stade là, ce n'est pas la résilience le problème, mais le manque de hauteur.</p>
      <p>En tant que COO pour PME, je t'aide à sortir <strong>de ce cercle de la gestion de "l'immédiat"</strong>. On repense la planification et le "day-to-day" (a.k.a pilotage) de ton activité pour au'elle soit <strong>plus fluide, plus rentable et moins dépendante de toi</strong>.</p>
      <p>Résultat ? Du temps retrouvé, une vision claire et <strong>une croissance qui ne t'use plus</strong>.</p>
      <a href="" class="button cta">Je veux passer ce cap</a>
    </article>
    <div class="shape-wrapper">
      <img src={collaborationPhoto.src} alt="" height={400} class="image"/>
      <div class="shape"></div>
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-m);
  }

  article {
    flex: 1;
    max-width: 60ch;
  }

  .shape-wrapper {
    flex: 1;
    position: relative;
    clip-path: inset(8% 3% 2% 3% round 20% 20% 20% 20%);
    border: 1px solid red;
    padding-top: 3rem;
  }

  .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .shape {
    width: 100%;
    height: 550px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #cee397;
    z-index: -1;
    clip-path: ellipse(63% 38% at 49% 65%);
  }
</style>
