---
import '../styles/global.css';
---

<section id="tools">
  <div class="container">
    <div class="title-header"></div>
    <h2 class="section-title">Tes outils <span>gratuits</span> pour booster ton activité</h2>
  </div>
</section>

<style>
  h2 span {
    font-style: italic;
  }
</style>
