---
import '../styles/global.css';
---

<section id="hero">
  <div class="container">
    <div class="title-header">Accompagnement pilotage d'entreprise</div>
    <h1>90 jours pour transformer ton organisation en levier de rentabilité avec un COO externalisé</h1>
    <p>On repense le pilotage de ta boîte en 3 mois pour optimiser ta marge et fluidifier ton "day-to-day"</p>
    <a href="" class="button cta bright">Je veux améliorer ma marge</a>
  </div>
</section>

<style>
  h1 {
    font-size: var(--step-4);
    text-align: center;
    line-height: 1.25;
    margin-top: -1rem;
  }

  .title-header {
    font-family: "AH Ernie", sans-serif;
    font-size: 1.25rem;
    color: #214E34;
    text-transform: unset;
  }

  .title-header::after {

  }

  h1 {
    text-wrap: balance;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .button.cta {
    background-color: #CEE397;
    color: #214E34;

    transition-property: color, background-color;
    transition-duration: 150ms;
    transition-timing-function: ease;
  }

  .button.cta:hover {
    background-color: #214E34;
    color: white;
  }
</style>
