---
import '../../styles/global.css';
import SehenoPortrait from '../../assets/images/PHOTOS/The_Plannerist_-_Portrait_Seheno_COO_Externalisé_4.webp';
import { Image } from 'astro:assets';
---

<section id="welcome-about">
  <div class="container">
    <article>
      <div class="title-header">Faisons connaissance</div>
      <h1 class="page-title">Hello! Moi c'est Seheno Ratefimandimby, <span>ta COO pour PME et solopreneurs</span></h1>
      <p>Ce qui m'anime depuis toujours, c'est la curiosité : comprendre comment les choses fonctionnent, pourquoi elles coincent parfois, et comment les faire évoluer.</p>
      <p>C'est cette logique qui m'a menée, au fil des expériences, à devenir COO (Chief Operating Officer) pour PME et entrepreneurs : un rôle où je peux allier recul stratégique et mise en ordre concrète.</p>
      <p>Structuration, organisation, pilotage &ndash; je mets mon expérience de bras droit stratégique au service de ton développement.</p>
      <a href="" class="button cta">Ton approche m'inspire <span><i class="fa-solid fa-comments"></i></span></a>
    </article>
    <Image src={SehenoPortrait} alt="" width={800} height={800} class="portrait"/>
  </div>
</section>

<style>
  .container {
    display: flex;
    align-items: center;
    gap: var(--space-m);
  }

  .page-title {
    text-align: left;
  }

  article {
    flex: 1;
  }

  .cta {
    padding-right: .75rem;
  }

  .portrait {
    flex: 1;
    object-fit: cover;
  }
</style>
