---
import '../../styles/global.css';
import { Image } from 'astro:assets';
import SehenoPortrait from '../../assets/images/PHOTOS/The_Plannerist_-_Portrait_Seheno_COO_Externalisé_1.webp';
---

<section id="journey">
  <div class="container">
    <Image src={SehenoPortrait} width={1800} height={1000} alt="" class="portrait" />
    <article>
      <div class="title-header">La curiosité comme fil conducteur</div>
      <h2 class="section-title">Mon parcours de COO pour PME et solopreneurs</h2>
      <p>Après une classe préparatoire et une école de commerce, j'ai fait mes premières armes dans l'univers du prêt-à-porter et du luxe. Des secteurs exigeants, où j'ai appris à concilier vision stratégique, rigueur opérationnelle et attention au détail.</p>
      <p>C'est en lançant ma première entreprise, Embrace Planner, que tout s'est aligné. J'ai pris conscience de l'importance d'un système bien pensé pour faire tourner une activité sans s'y épuiser. J'ai structuré, testé, itéré. Résultat ? La rentabilité atteinte en un peu plus d'un an, et une activité capable de tourner en solo.</p>
      <p>Forte de cette expérience, j'ai commencé à accompagner d'autres entrepreneurs : des fondateurs ambitieux, souvent très engagés dans leur activité, mais sans cadre clair pour la faire évoluer sereinement.</p>
      <p>Aujourd'hui, en tant que COO externalisée, j'intervies auprès de PME et d'entrepreneurs pour leur apporter ce cadre et cette expérience terrain.</p>
      <a href="" class="button cta">Je veux collaborer avec toi <span><i class="fa-solid fa-people-arrows"></i></span></a>
    </article>
  </div>
</section>

<style>
  .container {
    display: flex;
    align-items: center;
    gap: var(--space-m);
  }

  .portrait {
    flex: 1;
    object-fit: cover;
  }

  .section-title {
    text-align: left;
  }

  article {
    flex: 1;
  }

  .cta {
    padding-right: .75rem;
  }
</style>
