---
import '../../styles/global.css';
---

<section id="solution">
  <div class="container">
      <h2 class="section-title">Basée à Boulogne-Billancourt, j'accompagne les solopreneurs partout en France.</h2>
      <p>Je suis installée à Boulogne-Billancourt, aux portes de Paris, et je me déplace ponctuellement dans la capitale ainsi que dans tout le 92.</p>
      <p>La majorité de mes accompagnements se fait toutefois à distance. Que tu sois à Lyon, Marseille, Bordeaux ou ailleurs, on travaille en visio, avec la même exigence de clarté, d'efficacité et de résultats.</p>
      <p>Que ce soit pour une structuration d'équipe, une organisation des flux opérationnels ou un besoin de pilotage d'activité, mon approche s'adapte à ton rythme, à ton environnement et à la réalité de ton quotidien d'entrepreneur.</p>
      <a href="" class="button cta">Discutons ensemble de tes défis business <span><i class="fa-solid fa-mug-hot"></i></span></a>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-m);
  }

  .container * {
    margin-block: 0;
  }

  p {
    text-align: center;
    text-wrap: balance;
  }

  .cta {
    padding-right: .75rem;
  }

</style>

