---
import '../../styles/global.css';
import { Image } from 'astro:assets';
import SehenoPortrait from '../../assets/images/portrait_travail.png';
---

<section id="workflow">
  <div class="container">
    <div class="shape-wrapper">
      <div class="shape"></div>
      <Image src={SehenoPortrait} alt="" width={800} height={800} class="portrait"/>
    </div>
    <article>
      <div class="title-header">Le workflow The Plannerist</div>
      <h2 class="section-title">Ma façon de travailler, en tant que <span>COO externalisée</span></h2>
      <p>Mon approche s’appuie avant tout sur l’expérience terrain : des années passées à accompagner des entrepreneurs aux profils, aux ambitions et aux secteurs d’activité très différents. J’ai travaillé avec des indépendants qui lançaient leur premier service, des TPE en pleine croissance, et des entreprises déjà structurées qui voulaient retrouver plus de fluidité.</p>
      <p>Ce parcours m’a appris une chose essentielle : il n’existe pas de méthode unique qui marche pour tout le monde. Chaque projet, chaque dirigeant·e arrive avec sa réalité : un rythme, des contraintes, une vision, parfois même des façons de travailler qui leur sont propres depuis des années.</p>
      <p>C’est pour ça que je refuse les modèles figés. Chaque accompagnement est cousu main, adapté à ton stade d’avancement, à ta personnalité et à ce que tu veux construire.</p>
      <p>Mon rôle ? Traduire ta vision en un fonctionnement clair et durable.</p>
      <p>Mon objectif ? Trouver le système que tu pourras faire vivre au quotidien.</p>
      <a href="https://calendly.com/seheno-theplannerist/appel-decouverte" class="button cta" target="_blank" rel="noopener noreferrer">Je veux en savoir plus <span><i class="fa-solid fa-arrow-right"></i></span></a>
    </article>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--space-xl);
  }

  .portrait {
    object-fit: cover;
    height: 100%;
  }

  .shape-wrapper {
    position: relative;
    clip-path: inset(5% 0% 0% 3% round 10% 10% 15% 10%);
    /* clip-path: ellipse(53% 79% at 53% 21%); */
  }

  .shape {
    height: 100vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #cee397;
    z-index: -1;
    /* clip-path: inset(5% 0% 0% 3% round 10% 10% 10% 10%); */
    clip-path: circle(88% at 65% 85%);
  }

  .section-title {
    text-align: left;
  }

  article {
    flex: 1;
  }

  article p {
    max-width: unset;
  }

  .cta {
    padding-right: .75rem;
  }

  .cta i {
    transform: rotate(-45deg);
  }
</style>

