---
import '../../styles/global.css';
import fetchApi from '../../lib/strapi';
import { Image } from 'astro:assets';

const articles = await fetchApi({
  endpoint: 'blogs',
  wrappedByKey: 'data',
  query: {
    'pagination[start]': '0',
    'pagination[limit]': '4',
    'populate': 'cover',
  },
});

const optionsDate = {
year: "numeric",
month: "long",
day: "numeric"
};

const locale = 'fr-FR';
---

<section id="blog">
  <div class="container">
    <h2 class="section-title">Les derniers articles de blog</h2>
    <div class="card-grid">
      {articles.map(article => 
      <div class="card">
        <Image src={`${import.meta.env.STRAPI_URL}${article.cover.url}`} height={200} width={300} alt="" class="card-cover" />
        <div class="card-info-wrapper">
          <h3 class="card-title">{article.title}</h3>
          <div class="card-content">
            <div class="card-author-wrapper">
              <div class="placeholder"></div>
              <div class="card-author-text-wrapper">
                <div class="card-author">Seheno Ratefimandimby</div>
                <div class="card-date">{Intl.DateTimeFormat(locale, optionsDate).format(new Date(article.publishedAt))}</div>
              </div>
            </div>
            <a href={`/blog/${article.slug}`} class="card-cta">Lire l'article <span><i class="fa-solid fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      )}
    </div>
    <a href="/blog" class="button cta">Voir plus d'articles</a>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-l);
  }

  h2 span {
    font-style: italic;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-s);
  }

  .card-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-m);
  }

  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #dadadd;
    box-shadow: 0px 0px 18px 0px hsl(0deg, 0%, 70%, 30%);
    height: 28rem;
    overflow: hidden;
  }

  .card-cover {
    width: 100%;
    height: 45%;
    object-fit: cover;
    background-color: var(--bg-color-light);
  }

  .card-title {
    margin-top: 0;
    font-size: var(--step-1);
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 1.15;
  }

  .card-info-wrapper {
    flex: 1;
    padding: var(--space-s);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .card-author-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .card-date {
    color: #a4a4a4;
  }

  .placeholder {
    width: 3rem;
    aspect-ratio: 1/1;
    border: 1px solid var(--text);
    background-color: var(--bg-color-light);
    border-radius: 9999px;
  }
</style>
