---
import '../../styles/global.css';
---
<section id="contact">
  <div class="container">
    <h2 class="section-title">Besoin d'en parler pour être sûr.e que c'est ce qu'il te faut ?</h2>
    <p>Réserve ton appel découverte et <strong>voyons comment clarifier, organiser et développer ton activité</strong> pour qu'elle soutienne tes ambitions.</p>
    <a href="" class="button cta">Prendre un café virtuel et en discuter <span><i class="fa-solid fa-mug-hot"></i></span></a>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-l);
  }

  h2 span {
    font-style: italic;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-s);
  }

  .cta {
    padding-right: .75rem;
  }
</style>


