---
import '../../styles/global.css';
---

<section id="explainer">
  <div class="container">
    <h2 class="section-title">Pourquoi faire appel à un COO externalisé quand on est une PME ?</h2>
    <div class="cards">
      <div class="card">
        <h3>Tu veux plus qu'un boost de mindset ou des conseils business génériques</h3>
        <p>Tu veux un <strong>accompagnement concret</strong>, qui te <strong>challenge en profondeur</strong> &ndash; sur tes offres, ton organisation et tes chiffres.</p>
      </div>
      <div class="card">
        <h3>Tu fais trop de sacrifices perso pour atteindre ton CA actuel</h3>
        <p>Tu fais déjà du chiffre, mais tu <strong>tires trop sur la corde pour y arriver</strong> &ndash; journées, trop longues pauses repoussées, toujours une urgence à gérer. Et tu sais que <strong>ça ne pourra pas durer comme ça</strong>.</p>
      </div>
      <div class="card">
        <h3>Tu veux connecter ton savoir-faire à ta performance</h3>
        <p>Je t'aide à <strong>créer un système qui amplifie ce que tu as déjà construit</strong>, pour que tu n'aies plus à choisir entre servir tes clients et développer ton activité. Un <strong>équilibre entre ta passion et la réalité du business</strong>.</p>
      </div>
    </div>
    <a href="" class="button cta">Évaluer si un COO externalisé correspond à tes besoins <span><i class="fa-solid fa-user-check"></i></span></a>
  </div>
</section>

<style>
  .title-header {
    font-family: "AH Ernie", sans-serif;
    font-size: 1.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .cards {
    display: flex;
    gap: var(--space-s);
    margin-bottom: var(--space-l);
    width: 80%;
  }


  .card {
    flex: 1;
    background-color: white;
    padding: var(--space-m);
    border-radius: 12px;
    box-shadow: 0px 0px 18px 0px hsl(0deg, 0%, 70%, 30%);
  }

  .card h3 {
    margin-top: 0;
    line-height: 1;
  }

  .cta {
    padding-right: .75rem;
  }
</style>
