---
import '../../styles/global.css';
const locale = "fr-FR";
const currency = "EUR";
const price = Intl.NumberFormat(locale, { style: "currency", currency: currency, maximumFractionDigits: 0 }).format(2950);
const price_2 = Intl.NumberFormat(locale, { style: "currency", currency: currency, maximumFractionDigits: 0 }).format(3500);
import OSIcon from '../../assets/organization.svg';
import BusinessIcon from '../../assets/employees.svg';
---

<section id="offers">
  <div class="container">
    <div class="title-header">Trouves ton offre</div>
    <h2 class="section-title">En tant que COO externalisé pour PME, je t'apporte le cadre pour tenir dans la durée</h2>

    <div class="cards">
      <div class="card">
        <header>
          <div class="header-icon">
            <OSIcon />
            <h3 class="card-title">The Plannerist OS</h3>
          </div>
          <div class="card-tagline">3 mois pour remettre de l'ordre dans ton activité.</div>
          <div class="card-price">{price}</div>
          <a href="" class="button cta">Mettre en place mon OS <span><i class="fa-solid fa-arrow-right"></i></span></a>
        </header>
        <!-- <p>On fait un état des lieux complet. On simplifie, on ajuste et on crée une feuille de route claire pour fluidifier ton opérationnel.</p> -->
        <h4>Structuration de votre organisation</h4>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Workspace Asana organisé par pôles (Finance, Marketing, Produit, etc.)</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Roadmap Asana avec objectifs clairs et priorités définies</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Répartition des responsabilités et deadlines</li>
        </ul>
        <h4>Standardisation &amp; optimisation opérationnelle</h4>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Process clés templarisés sur Asana</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Checklists pour réduire erreurs et pertes de temps</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Automatisations (logistique, reporting, post-achat, leads, etc.)</li>
        </ul>
      </div>

      <div class="card">
        <header>
          <div class="header-icon">
            <BusinessIcon />
            <h3 class="card-title">Le Co-pilotage</h3>
          </div>
          <div class="card-tagline">+6 mois pour gagner des points de marge.</div>
          <div class="card-price">{price_2}<span>/mois</span></div>
          <a href="" class="button cta">Prendre un co-pilote <span><i class="fa-solid fa-arrow-right"></i></span></a>
        </header>
        <!-- <p>On travaille ensemble sur la durée avec pour objectif d'améliorer la rentabilité. Accompagnement 360&deg; comme un co-fondateur.</p> -->
        <h4>Direction opérationnelle &amp; décisions</h4>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Revue hebdomadaire des affaires en binôme</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Arbitrage des priorités stratégiques</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Tableau de bord performance produit sur Google Sheets</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Création &amp; suivi de trésorerie prévisionnelle</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Optimisation continue de la marge et des ressources</li>
        </ul>
        <h4>Pilotage &amp; décisions</h4>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Tableau de bord performance produit/offre sur Google Sheets</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Suivi trésorerie prévisionnelle de 13 semaines sur Google Sheets</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Création des objectifs et sous-objectifs (Roadmap) de l'entreprise sur Asana</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Revue hebdomadaire business en binôme pour analyser et prioriser les actions</li>
        </ul>
        <h4>Délégation</h4>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Management d'équipe assuré par moi</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Délegation gestion du site à une assistance virtuelle (AV)</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Délegation du SAV à une AV</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Délegation du suivi chef de produit à une AV</li>
          <li><span class="fa-li"><i class="fa-regular fa-circle-check"></i></span>Reporting structuré &amp; contrôle qualité</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .title-header {
    font-family: "AH Ernie", script;
    color: #214E34;
    position: relative;
  }

  .title-header::after {
    content: "";
    height: 4px;
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    margin-bottom: var(--space-l);
  }

  .card {
    flex: 1;
    background-color: white;
    padding: var(--space-m);
    border-radius: 12px;
    box-shadow: 0px 0px 18px 0px hsl(0deg, 0%, 70%, 30%);
    border: 1px solid #dadadd;
    max-width: 42ch;
    font-size: var(--step-0);
  }

  .card ul {
    margin-left: var(--space-m);
  }

  .card header {
    border-bottom: 1px solid #dadadd;
    padding-bottom: var(--space-s);
    margin-bottom: var(--space-s);
    position: relative;
  }

  .card .header-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .5rem;
  }

  .card svg {
    --length: 2rem;
    width: var(--length);
    height: var(--length);
    color: var(--text);
  }

  .card-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    /* font-family: "Outfit", sans-serif; */
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  .card-tagline {
    font-size: var(--step-0);
    font-weight: 200;
    line-height: 1.15;
  }

  .card-price {
    font-size: var(--step-2);
    font-weight: 600;
    margin-block: var(--space-s);
  }

  .card-price span {
    font-size: var(--step-0);
    color: #909090;
    font-weight: 300;
    margin-left: .25rem;;
  }

  .card .button {
    /* width: 100%; */
    padding-right: .75rem;
  }

  .cta i {
    transform: rotate(-45deg);
  }

  @media (min-width: 1000px) {
    .cards {
      flex-direction: row;
    }
  }
</style>
