---
import '../styles/global.css';
---

<section id="profile">
  <div class="container">
    <div class="image"></div>
    <article>
      <p>Quand j'ai lancé ma première entreprise <a href="https://embrace-planner.myshopify.com" class="site-link">Embrace Planner</a>, j'ai vite compris qu'on ne peut pas <strong>tout gérer seul sans y laisser son énergie</strong>. Aujourd'hui, je suis COO freelance. J'accompagne <strong>les solopreneurs et le PME à structurer leur activité</strong> pour gagner en temps, en clarté et en performance.</p>
      <p>Mon objectif ? T'aider à bâtir une activité et une organisation qui soutiennent ta croissance et ta vision, tout en te laissant la liberté de te concentrer sur ce qui compte vraiment.</p>
    <a href="" class="button cta">En savoir plus sur moi</a>
    </article>
  </div>
</section>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-m);
  }

  .container * {
    flex: 1;
  }

  .site-link {
    color: var(--text);
  }

  .site-link:hover {
    background-color: var(--primary-light);
  }

  .image {
    border: 1px solid black;
    max-width: 35rem;
    height: 550px;
  }

  article {
    max-width: 55ch;
  }
</style>
