---
import '../../styles/global.css';
---
<section id="success-story">
  <div class="container">
    <h2 class="section-title">Elle a transformé son entreprise <span>avec The Plannerist</span></h2>
    <p>Florie de MyBlueprintVF a débloqué sa croissance <strong>en structurant son activité, en déléguant efficacement</strong> et en mettant en place des <strong>process clairs</strong>.</p>
    <div class="buttons">
      <a href="" class="button cta">Lire sa success story</a>
      <a href="" class="button cta cta--outline">Voir plus de success stories</a>
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-l);
  }

  h2 span {
    font-style: italic;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-s);
  }
</style>
