---
import '../../styles/global.css';
import googleReviews from '../../assets/Google_reviews.png';
import { Image } from 'astro:assets';
---

<section id="hero">
  <div class="container">
    <Image src={googleReviews} alt="" width={300} height={100} class="review-image"/>
    <div class="title-header">Accompagnement pilotage d'entreprise</div>
    <h1 class="page-title">90 jours pour transformer ton organisation en levier de rentabilité avec un COO externalisé</h1>
    <p>On repense le pilotage de ta boîte en 3 mois pour optimiser ta marge et fluidifier ton "day-to-day".</p>
    <a href="" class="button cta">Je veux améliorer ma marge <span><i class="fa-solid fa-money-bill-trend-up"></i></span></a>
  </div>
</section>

<style>
  #hero {
    padding-block: 8rem;
  }

  * {
    margin-block: 0;
  }

  .title-header {
    margin-bottom: -1.5rem;
  }

  p {
    max-width: 40ch;
    text-align: center;
    text-wrap: balance;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-m);
  }

  .cta {
    margin-top: var(--space-l);
    padding-right: .75rem;
  }

  .review-image {
    object-fit: contain;
  }
</style>
