@font-face {
  font-family: "AH Ernie";
  src: url('/fonts/AdobeHandwriting-Ernie.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ivy Presto";
  src: url('/fonts/Ivy-Presto-Headline-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/outfit-latin-100-normal.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/outfit-latin-200-normal.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/outfit-latin-300-normal.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/outfit-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/outfit-latin-500-normal.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/outfit-latin-600-normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/outfit-latin-700-normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/outfit-latin-800-normal.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/outfit-latin-900-normal.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,2560,20,1.25,5,2,1440&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.6944rem, 0.6772rem + 0.0768vw, 0.8rem);
  --step--1: clamp(0.8333rem, 0.8061rem + 0.1212vw, 1rem);
  --step-0: clamp(1rem, 0.9591rem + 0.1818vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.1407rem + 0.2636vw, 1.5625rem);
  --step-2: clamp(1.44rem, 1.356rem + 0.3732vw, 1.9531rem);
  --step-3: clamp(1.728rem, 1.6113rem + 0.5188vw, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.9135rem + 0.7114vw, 3.0518rem);
  --step-5: clamp(2.4883rem, 2.2713rem + 0.9646vw, 3.8147rem);
}

/* @link https://utopia.fyi/space/calculator?c=360,18,1.2,2560,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5523rem + 0.0455vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8648rem + 0.0455vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.1045rem + 0.0909vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6568rem + 0.1364vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.2091rem + 0.1818vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.3136rem + 0.2727vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.4182rem + 0.3636vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.6273rem + 0.5455vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2614rem + 0.2273vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.5011rem + 0.2727vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.8136rem + 0.2727vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 1.0023rem + 0.5455vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.5545rem + 0.5909vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 2.0045rem + 1.0909vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 3.1091rem + 1.1818vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 4.0091rem + 2.1818vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.9rem + 1vw, 2.5rem);
}

:root {
  --bg-color-light: #8EB6DC;
  --bg-color: #1470AF;
  --bg-color-dark: #044776;

  /****************************************************************/
  /*********************** COLORS *********************************/
  /****************************************************************/
  --neutral: #FFFFF9;
  /* --text: #0E106C; */
  --text: #044776;
  --primary: #214E34;
  --primary-light: #CEE397;
  --primary-xtra-light: #EFF6DF;
  --secondary: ;
  --accent: #FF7F11;
}

* {
  box-sizing: border-box;
}

.container {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: var(--step-0);
  letter-spacing: -0.2px;
  background-color: var(--neutral);
  color: var(--text);
}

strong {
  font-weight: 600;
}

h1,
h2,
h3 {
  font-family: "Ivy Presto", serif;
  font-weight: 100;
  line-height: 1;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

p {
  line-height: 1.35;
}

footer,
section {
  padding: 4rem 0;
}

a {
  color: white;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: .75rem 1.5rem;
  border-radius: 999px;
  border: 2px solid transparent;
  font-size: var(--step--1);
  font-weight: 500;
  /* letter-spacing: 1px; */
  text-transform: uppercase;
}

.cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-s);
  width: fit-content;
}

.cta i {
  background-color: var(--primary-xtra-light);
  width: 2rem;
  aspect-ratio: 1/1;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.cta:hover i {
  background-color: #647F24;
}

.cta {
  background-color: var(--primary-light);
  color: var(--primary);

  transition-property: color, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.cta--outline {
  background-color: transparent;
  border: 2px solid var(--primary);
}

.cta:hover {
  background-color: var(--primary);
  color: var(--neutral);
}


li {
  margin-block: var(--space-2xs);
}

.title-header {
  font-family: "AH Ernie", sans-serif;
  font-size: var(--step-1);
  color: var(--primary);
  text-transform: unset;
}

.page-title {
  font-size: var(--step-5);
  text-align: center;
  line-height: 1.15;
  text-wrap: balance;
  margin-top: 0;
}

.section-title {
  font-size: var(--step-4);
  text-align: center;
  line-height: 1.15;
  max-width: 30ch;
  text-wrap: balance;
  margin-top: 0;
}
