---
import Layout from '../../layouts/Layout.astro';
import fetchApi from '../../lib/strapi.ts';
import type Blog from '../../interfaces/blog';

const articles = await fetchApi({
endpoint: 'blogs',
wrappedByKey: 'data',
});
console.log(articles);
---

<Layout>
  <!-- <div class="bg-blob blob-1"></div> -->
  <!-- <div class="bg-blob blob-2"></div> -->
  <!-- <div class="bg-blob blob-3"></div> -->
  <!-- <div class="bg-blob blob-4"></div> -->
  <!-- <div class="bg-blob blob-5"></div> -->
  <section id="posts">
  <div class="container">
    <div class="title-header">Mieux piloter &amp; décider</div>
    <h1 class="page-title">Le carnet de bord stratégique de The Plannerist</h1>
<div class="article-grid">
  {articles.map(article => 
    <div class="article-card">
      <h3>{article.title}</h3>
      <a href={`/blog/${article.slug}`}>Voir l'article</a>
    </div>
    )}
</div>
</div>
</section>
</Layout>

<style>
  :root {
    --blob-col-1: #F4E04D;
    --blob-col-2: #95BF74;
    --blob-col-3: #DDA77B;
    /* --blob-col-3: #669BBC; */
  }

  .bg-blob {
    position: absolute;
    --length: 600px;
    width: var(--length);
    height: var(--length);
    z-index: -1;
    filter: blur(500px);
  }

  .blob-1 {
    top: 0;
    right: 0;
    background-color: var(--blob-col-1);
  }

  .blob-2 {
    left: 0;
    top: 800px;
    background-color: var(--blob-col-2);
  }

  .blob-3 {
    top: 1400px;
    right: 0;
    background-color: var(--blob-col-3);
  }

  .blob-4 {
    top: 2400px;
    left: 0;
    background-color: var(--blob-col-1);
  }

  .blob-5 {
    top: 3800px;
    right: 0px;
    background-color: var(--bg-color-dark);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-m);
  }

  .article-card {
    height: 10rem;
    width: 100%;
  }

  .article-card h3 {
    font-size: var(--step-0);
    text-wrap: balance;
    margin-top: 0;
  }
</style>
